body {
  margin: 0;
  padding: 0 15%;
  width: 100%;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 0px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    align-self: center;

    position: fixed;
    top: 0;
    width: 100%;
}

/* div containing the logo img */

.navbar-header {
  float: none;

  height: 150px;
  /* width: 80px; */
  /* overflow: hidden; */
}

/* img */

.logo-img {
  /* align-self: center; */

  position: fixed;
  margin-top: -165px;
  margin-left: -250px;

/*
  min-height: 80%; */
  /* min-width: 100%; */

}



.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-default {
  background-color: #1c1259;
  color: #fff;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  align-content: center;
}

.navbar-nav  li a:hover {
    color: #ee4266 !important;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.header-row {
  text-align: center;
}

/* main section of index page */

.heading-div {
  padding-top: 2%;
}

.heading-div h1 {
  font-family: "Yesteryear", cursive;
  text-align: center;
}

.main-content-row {
    display: flex;
}

.main-content-column {
  padding-right: 4%;
  padding-left: 4%;

}

.about-me-text {
  font-family: "Montserrat";
  font-style: italic;
  padding-top: 10%;
  text-align: center;
}

.blog-post-img {
  width:  350px;
  /* height: 100px; */
  background-position: 50% 50%;
}

h1 {
  font-size: 2.5rem;
}

hr {
border-top: 1px solid #ee4266;
}



.right-col-resources {

}

.resources-button {
  text-align: center;
}

.btn-info {
  background-color: #1c1259;
  border-color: #1c1259;
  color: #fff;
}

.btn-info:hover {
  background-color: #ee4266;
  border-color: #ee4266;
  color: #fff;
}


/* other colours in palette:
yellow: fcd307
grey: d5daeb
*/

body {
  margin-top: 9%;
}

.main-body {
  padding-top: 230px;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 3%;
}

.welcome-text {
  margin-top: 250px;
}

.welcome-text h1 {
  padding-left: 10%;
}

.welcome-text p {
  text-align: left;
  padding: 2% 15%;
}

.welcome-text button {
  align-content: center;
}

.codebug-logo {
  color: #1c1259;
  font-family: "Yesteryear", cursive;
  text-align: center;
}

/* blog entries */

.blog-entry img {
  height: 200px;
}

.blog-text {
  /* padding-right: 30%; */
  width: 380px;
}

.blog-entry h1 {

}

.blog-entry p {
  padding-top: 3%;
}


/* RESOURCES SUBPAGE */

.resources-subtitle {
  text-align: center;
  margin-bottom: 3%;
}

.resources-entry {
  padding-left: 3%;
}

.resources-entry h1, h2, h3 {
  color: #1c1259;
}

.resources-entry h1 {
  font-size: 2rem;
}

.resources-entry h2 {
  font-size: 1.5rem;
}

.resources-entry a {
  color: #ee4266;
}

/* FOOTER */

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: auto;
	background-color: #ee4266;
  padding: .5%;
}

.footer a {
	font-size: 12px;
  color: #fff;
}

.footer a:hover {
  color: #1c1259;
  text-decoration: none;
}

.social-icons {
  margin: 0 2%;
  padding: 5px;
}

.footer p {
	margin-top: 8px;
	font-size: 12px;
  color: #fff;
}

.heart {
  color: #1c1259;
}

/* ABOUT ME PAGE */

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.top-row {
  background-color: #004445;
  display: flex; /* IMPORTANT so columns are displayed next to each other*/
  font-family: 'Raleway';
  padding: 2% 5%;
}

.top-row img {
  border: 3px solid #fff;
  width: 60%;
  transform: rotate(-8deg);
  /* position: absolute;
  top: 30px;
  left: 5%; */

  vertical-align: baseline;
}

.top-row-intro-text {
  color: #fff;
  /* padding: 5%; */
  vertical-align: middle;
}

.top-row h1 {
  padding-bottom: 2%;
}

/* Middle row */

.main-heading {
  background-color: #021C1E;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 4%;
}

.main-heading h1 {
  /* code for the colour gradient */
  background: -webkit-linear-gradient(#6FB98F, #E6FF44);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-family: 'Cookie';
  font-size: 6.5rem;
}

/* Bottom row: Skills columns */

.skills {
  background-color: #6FB98F;
  color: #021C1E;
  font-family: 'Raleway';
  padding: 2% 4%;
}

.skills li {
  padding: 2% 0;
}

.skills a {
  color: #375E97;
}

.skills a:hover {
  color: #E6FF44;
  text-decoration: none;
}

.skills-row {
  text-align: center;
  padding: 4%;
}

.skills img {
  height: 50px;
}


/* Footer */

footer {
  background-color: #004445;
  font-family: 'Raleway';
  padding: 2%;
  text-align: center;
}

footer h2 {
  color: #fff;
  padding: 2%;
  font-weight: bold;
}

.email-button {
  background-color: #6FB98F;
  border-color: #6FB98F;
}

.email-button:hover {
  background-color: #E6FF44;
  border-color: #E6FF44;
  color: #004445;
}
